{% extends 'base.html' %}
{% load static %}

{% block body_block %}

    <main class="page lanidng-page" style="background-image: url('{% static 'assets/img/portfolio/background.jpeg' %}');">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;{% static 'assets/img/portfolio/profile-pic.jpeg' %}&quot;);
                border: white solid 2px;"></div>
                <div class="about-me" style="font-family: 'Yanone Kaffeesatz', sans-serif; color: white;">
                  <p style="font-family: 'Bangers', cursive;">Mirages drives me to illusion. Vision leads me to emotions.<br>
                    If one word defines me, then it has to be <strong>audacity.</strong>
                  </p>
                    <p>I am <strong>Eesha Kulkarni</strong>. I work as a head designer in multiple MUNs and many vital clubs in college.
                      I have passion for pixel perfect, minimal and easy to use interfaces.</p><a class="btn btn-outline-primary" role="button" href="#">Hire me</a></div>
            </div>
        </section>
        <section class="portfolio-block photography website gradient">
            <div class="container">
                <div class="row no-gutters">
                  {% for pic in dict %}
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <img class="img-fluid image" src="{{ pic.image.url }}"></div>

                  {% endfor %}
                 </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom website gradient">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3 style="font-family: 'Yanone Kaffeesatz', sans-serif;">Like what you see?</h3><button class="btn btn-outline-dark btn-lg" type="button">Show More</button></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container" style="color:white">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Quality work</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Unique Designs</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Customization</h3>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <!-- <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Website Project</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies,
                      feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    {% endblock %}
