
.lanidng-page{
  background-color: turquoise;
}

.special-skill-item{
  background-color: rgba(255,255,255,0);
}

.portfolio-block{
  padding-top: 50px;
  padding-bottom: 50px;
}

.avatar{

}

.heading{
  font-family: 'Bangers';letter-spacing: 4px;font-size: 40px;
}

.card-title{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* #fb{
  background-color: #3B5998;
  opacity: 0.75;
}

#insta{
  background-color: #D62B88;
  opacity: 0.75;
}

#linkedin{
  background-color: #0077B5;
  opacity: 0.75;
} */
