
.lanidng-page{
  background-color: turquoise;
}

.special-skill-item{
  background-color: turquoise;
}

.portfolio-block{
  padding-top: 50px;
  padding-bottom: 50px;
}

.avatar{

}

/* #fb{
  background-color: #3B5998;
  opacity: 0.75;
}

#insta{
  background-color: #D62B88;
  opacity: 0.75;
}

#linkedin{
  background-color: #0077B5;
  opacity: 0.75;
} */
